export(SimTestDiff, SimTestRat,
       SimCiDiff, SimCiRat)

import(mvtnorm, multcomp, mratios)

S3method(print, SimTest)
S3method(summary, SimTest)

S3method(print, SimCi)
S3method(summary, SimCi)
