export(SimTestDiff, SimTestRat,
       SimCiDiff, SimCiRat,
       DfSattDiff, DfSattRat,
       ermvnorm, rcm)

import(mvtnorm, multcomp, mratios)

S3method(print, SimTest)
S3method(summary, SimTest)

S3method(print, SimCi)
S3method(summary, SimCi)
S3method(plot, SimCi)
